<section>
    <div class="container" style="margin-bottom: 20rem;">
        <div class="row">
            <div class="col-md-12 text-center" style="margin-top: 20rem;">
                <h1 class="text-center"> Your Payment Completed Successfully</h1>
                <div>
                    <a href="/orders" class="btn btn-success">View Your Orders</a>
                    <a href="/" class="btn btn-warning">Continue Shopping</a>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>