<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>TrendZStation</title>
</head>
<body>

{{#if userPage}}
{{>user-header}}
{{/if}}

{{#if admin}}
{{>admin-header}}
{{/if}}

{{{body}}}

{{#if userPage}}
{{>user-footer}}
{{/if}}

{{#if admin}}
{{>admin-footer}}
{{/if}}
	
</body>
</html>